<div class="row">
  <div class="mx-auto">
    <h2>Choose a status</h2>
  </div>
</div>

<form [formGroup]="form">
  <fieldset>
    <div class="form-group">
      <label for="status">Order status</label>
      <select
        name="status"
        formControlName="status"
        class="custom-select"
        id="status"
        [class.is-invalid]="status.invalid && status.touched"
      >
        <option [selected]="true" value="">Choose a status</option>
        <option *ngFor="let st of data.status" value="{{ st }}">
          {{ st }}
        </option>
      </select>
      <div *ngIf="status.errors && status.touched">
        <div class="text-danger" *ngIf="status.errors.required">
          Please choose a status
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button
          type="submit"
          class="btn btn-success btn-block"
          (click)="onSave()"
          [disabled]="form.invalid"
        >
          Save changes
        </button>
      </div>
      <div class="col-md-6">
        <button
          type="submit"
          class="btn btn-secondary btn-block"
          (click)="onClose()"
        >
          Close
        </button>
      </div>
    </div>
  </fieldset>
</form>
