<div class="row my-3">
  <div class="mx-auto">
    <h2>List of categories</h2>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4" *ngFor="let category of categories">
    <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem">
      <div class="card-header">
        <strong>{{ category.name }}</strong>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <img [src]="category.imageUrl" class="rounded img-fluid" />
          </li>
          <li class="list-group-item text-center">
            <button
              type="button"
              class="btn btn-success mr-2"
              data-dismiss="modal"
              [routerLink]="['/category', category.publicId]"
            >
              See products
            </button>
            <button
              type="button"
              class="btn btn-secondary mr-2"
              data-dismiss="modal"
              (click)="delete(category.publicId)"
            >
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
