<div class="row mt-5">
  <div class="mx-auto">
    <h2>Create category</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-6 mx-auto">
    <form [formGroup]="form" (submit)="create()">
      <fieldset>
        <div class="form-group">
          <label for="name">Category name</label>
          <input
            id="name"
            name="name"
            formControlName="name"
            type="text"
            class="form-control"
            placeholder="Category name"
            [class.is-invalid]="name.errors && name.touched"
          />
          <div *ngIf="name.errors && name.touched">
            <div class="text-danger" *ngIf="name.errors.required">
              Category name is required
            </div>
            <div
              class="text-danger"
              *ngIf="name.errors.minlength || name.errors.maxlength"
            >
              Category name must be between 2 and 20 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="image">File input</label>
          <input
            id="image"
            name="image"
            type="file"
            #fileInput
            class="form-control-file"
            aria-describedby="fileHelp"
            (change)="onFileChange($event, fileInput)"
          />
        </div>

        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="form.invalid || invalidInputFile"
        >
          Create
        </button>
      </fieldset>
    </form>
  </div>
</div>
