<div class="row mt-3">
  <div class="col-md-4 offset-4">
    <h2>List of products</h2>
  </div>
  <div class="col-md-4">
    <div class="input-group rounded">
      <input
        type="text"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
        (keyup)="search($event)"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fa fa-search"></i>
      </span>
    </div>
  </div>
</div>

<div class="row mb-3 mt-3">
  <div class="col-md-4" *ngFor="let product of products">
    <div class="card border-primary mb-3 mx-auto" style="max-width: 20rem">
      <div class="card-header">
        <strong>{{ product.name }}</strong>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <img class="rounded img-responsive" [src]="product.imageUrl" />
          </li>

          <li class="list-group-item">
            <strong>Price: </strong>{{ product.price }} DH
          </li>

          <li class="list-group-item">
            <p class="card-text">
              <strong>Description: </strong> {{ product.description }}
            </p>
          </li>

          <li class="list-group-item text-center">
            <div class="row">
              <div class="col-md-6">
                <button
                  type="button"
                  class="btn btn-info btn-block mr-4"
                  data-dismiss="modal"
                  (click)="edit(product.publicId)"
                >
                  Edit
                </button>
              </div>
              <div class="col-md-6">
                <button
                  type="button"
                  class="btn btn-secondary btn-block mr-4"
                  data-dismiss="modal"
                  (click)="delete(product.publicId)"
                >
                  Delete
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
