<div class="row my-auto">
  <div class="col-md-12">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Top Rated Clients">
        <div class="row mt-5">
          <div class="col-md-5">
            <ngx-datatable [rows]="rows" [columns]="columns"> </ngx-datatable>
          </div>
          <div class="col-md-7">
            <ngx-charts-bar-vertical
              [view]="[500, 300]"
              [results]="statistics"
              [xAxisLabel]="'Clients'"
              [yAxisLabel]="'Nb of Orders'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="true"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
    </mat-tab-group>
  </div>
</div>
