<div class="row my-auto">
  <div class="col-md-12">
    <mat-tab-group dynamicHeight>
      <mat-tab label="Top Rated Clients">
        <div class="row mt-5">
          <div class="col-md-5">
            <ngx-datatable
              class="material selection-cell"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="50"
              [rows]="rows"
              [columns]="columns"
              [selected]="selected"
              [selectionType]="SelectionType.single"
              (select)="onSelect($event)"
            >
            </ngx-datatable>
          </div>
          <div class="col-md-7">
            <ngx-charts-bar-vertical
              class="my-auto"
              [view]="[500, 300]"
              [results]="statistics"
              [xAxisLabel]="'Clients'"
              [yAxisLabel]="'Nb of Orders'"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxis]="true"
              [yAxis]="true"
              [gradient]="true"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Second"> </mat-tab>
    </mat-tab-group>
  </div>
</div>
